.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jumbotron{
background-color: gainsboro;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
}
.cards{
    width: 1116px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    width: 100%;
    color: white;
    background-color: #212529;
    height: 150px;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}